.navbar-text {
	color: #fff;
	display: inline-block;
	float: right;
	font-family: 'Amatic SC', cursive;
	font-size: 32px;
	margin: 10px 5px;
	position: absolute;
	list-style: none;
	letter-spacing: 4px;
}






/* MEDIA QUERIES */

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}